---
layout: page
title: Our House Pictures
---

<link href="public/css/lightbox.css" rel="stylesheet" />


<a class="example-image-link" href="assets/DSCN0045.JPG" data-lightbox="images" data-title="My caption1"><img class="example-image" src="/assets/DSCN0045.JPG" alt=""></a>
<a class="example-image-link" href="assets/DSCN0048.JPG" data-lightbox="images" data-title="My caption2"><img class="example-image" src="/assets/DSCN0048.JPG" alt=""></a>
<a class="example-image-link" href="assets/DSCN0007.JPG" data-lightbox="images" data-title="My caption3"><img class="example-image" src="/assets/DSCN0007.JPG" alt=""></a>

<h2>Our House!</h2>
<img src="/assets/h2.jpg" alt="Our House!" style="width:304px;height:228px">
<h2>Living Room</h2>
<img src="/assets/h3.jpg" alt="Living Room" style="width:304px;height:228px">
<h2>One of our favourite views</h2>
<img src="/assets/h1.png" alt="One of our favourite views" style="width:304px;height:228px">

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<script src="public/js/jquery-1.11.0.min.js"></script>
<script src="public/js/lightbox.min.js"></script>