.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

.img img {
    display: inline;
    border: 1px solid #ffffff;
}

.img a:hover img {
    border:1px solid #0000ff;
}

.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}