---
layout: default
---

{% include galheader.html %}

<p>default header for all gallery pages</p>

{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
    <h2>{{ gallery.description }}</h2>
    <ul style="list-style-type:none">
    {% for image in gallery.images %}
      <li>
          <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" data-title="{{ image.text }}">
          <img class="example-image" src="{{ gallery.imagefolder }}/{{ image.name }}" alt="{{ image.text }}" style="width:152px;height:114px">
        </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

<p>default footer for all gallery pages</p>